.normal-button{
    padding: 3px 10px;
    border:groove;
    border-color: #3315f5;
    border-width: 5px;
    background-color: #5777f6;
    border-radius: 5px;
    font-size: 22px;
    color: white;
    font: bold;
    text-align: center;
    cursor: pointer;
}

.sub-button{
    padding: 3px 10px;
    border:grooves;
    border-color: #171616;
    border-width: 5px;
    background-color: #5d5c5c;
    border-radius: 5px;
    font-size: 22px;
    color: rgb(210, 208, 208);
    font: bold;
    text-align: center;
    cursor: pointer;
}