.normal-button{
    padding: 3px 10px;
    border: #7866EE;
    background-color: #3F64F9;
    border-radius: 5px;
    font-size: 22px;
    color: white;
    font: bold;
    text-align: center;
    cursor: pointer;
}

.sub-button{
    padding: 3px 10px;
    border: #4B4B4B;
    background-color: #E7E7E7;
    border-radius: 5px;
    font-size: 22px;
    color: gray;
    font: bold;
    text-align: center;
    cursor: pointer;
}