// レスポンシブデザインのブレークポイント
//$pc_screen_max_width: 961px;
$pc_screen_min_width: 961px;
$tablet_screen_max_width: 960px;
$tablet_screen_min_width: 768px;
$smartphone_screen_max_width: 767px;
//$smartphone_screen_min_width: 375px;